/* --RESET STYLES -- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
textarea,
button,
input {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
}
/* --COMMON STYLES-- */
body {
  color: #495057;
  font-family: Lora, serif;
  font-size: 0.875rem;
  background: #f8f9fa;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
[class*='__container'] {
  max-width: 83.125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

/* -- HEADER -- */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.2);
}
.header__conatainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
  min-height: 5rem;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.3125rem;
  column-gap: 1.5rem;
}

.menu__link {
  font-weight: 700;
  color: #fff;
  font-family: Roboto, sans-serif;
  display: inline-block;
  line-height: 1.5;
  position: relative;
}
.menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.125rem;
  transition: all 0.3s;
  background-color: #d4a373;
}
.menu__link.active::after,
.menu__link:hover::after {
  width: 100%;
  left: 0;
}

/* -- FOOTER STYLE -- */

.footer {
  background: #343a40;
  padding: 1.875rem 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 0.9375rem;
  color: #e5e5e5;
  line-height: 128.571429%;
}

.footer__text {
  text-transform: uppercase;
  font-weight: 700;
}

.footer__up:hover {
  text-decoration: underline;
}

/* --- MAIN STYLE -- */
main {
  flex: 1 1 auto;
}
.category {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  padding: 0.3125rem 0.625rem;
  display: inline-block;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 0.625rem;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}
.category:hover {
  background: rgba(255, 255, 255, 0.5);
}
.title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 127.777778%;
  color: #ffffffff;
}
.text {
  font: 0.75rem;
  line-height: 166.666667%;
}

/* .home {
} */

.home__sections {
  display: grid;
  gap: 6.25rem;
}
/* .home__main-slider {
} */
@media (max-width: 991.98px) {
  .home__sections {
    gap: 4.375rem;
  }
}
@media (max-width: 767.98px) {
  .home__sections {
    gap: 2.5rem;
  }
}

.main-slider {
  min-width: 0;
}
.main-slider__wrapper {
  display: flex;
}

.main-slider__slide {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background-color: #343a40;
}

.main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.8;
}

.main-slider__container {
  min-width: 100vh;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.9375rem;
  padding-top: 6.25rem;
  padding-bottom: 8.75rem;
}

.main-slider__title {
  max-width: 33.125rem;
}

.main-slider__body {
  color: #e5e5e5;
  display: flex;
  align-items: flex-start;
  gap: 0.6875rem;
}

.main-slider__date {
  line-height: 125%;
  display: flex;
  gap: 0.6875rem;
  align-items: center;
}

.main-slider__date::after {
  content: '';
  width: 1.875rem;
  height: 0.0625rem;
  background-color: #e5e5e5;
}

.main-slider__text {
  max-width: 26.25rem;
}

/* // .main-slider__bullets

  &__bullets {
  }
} */

.bullets {
  position: relative;
  z-index: 2;
  margin-top: -8.75rem;
}
/* .bullets__container{} */

.bullets__items {
  display: flex;
  align-items: center;
  height: 8.75rem;
}
.bullets__items .swiper-pagination-bulets {
  flex: 0 0 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.2;
  transition: opacity 0.3s;
  cursor: pointer;
}
.bullets__items .swiper-pagination-bulets-active {
  opacity: 1;
}
